body{
    letter-spacing: 2px;
    font-family: 'NTR', sans-serif;
}
body.black {
    background-color: rgb(0, 0, 0);
}

.navbar{
    background-color: black;
    width: 100%;
}

body.black .navbar {
    background-color: white;
}

.navbar ul{
    margin-left: auto;
}

#navbarNav a{
    float: right;
}

.navbar-dark .navbar-brand {
    color: white;
}

body.black .navbar-dark .navbar-brand {
    color: black;
}

body.black .navbar button{
    background-color: black;
}

.navbar-dark .navbar-brand span{
    color:#ff0000;
}

#navbarToggle .nav-link{
    color: white;
}
body.black #navbarToggle .nav-link{
    color: black;
}

#navbarToggle .nav-link:hover{
    color: #ff0000;
   
    }


.history-content,
.rules-content {
    background-color: white;
    color: black;

}

.history-header,
.rules-header,
.song-header {
    border-bottom: 1px solid black;
}

.btn-close {
    opacity: 1;
}



.song-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pauseBtn,
#playBtn {
    border: none;
    background-color: transparent;
}

#pauseBtn:hover,
#playBtn:hover {
    color: red;
}


   .fa-youtube {
       color: red;
   } 



.starting-page-modal {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
    background-color: black;
    color: white;
    text-align: center;
}

.modal-header span {
    color: red;
}

.form-group {
    padding: 10px;
}

.form-group input {
    border: none;
    border-radius: 5px;
    
    
}

.modal-footer {
    border-top: none;
}

.modal-footer button {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
}

.modal-footer button:hover {
    background-color: black;
    color: white;
}

#error {
    color: red;
}

.switch-box {
    display: flex;
}

.turns {
    font-size: calc(1.325rem + .9vw);
    display: inline-flex;
    margin: 15px;
    color: black;
}

body.black .turns {
    color: white;
}

.switch{
    display: none;
}

:checked + .background-switch .slider {
    transform: translateX(54px);
}
.background-switch{
    width: 120px;
    height: 35px;
    float: right;
    
    background-color: black;
   
    display: flex;
    border: none;
    margin: 15px;
    align-items: center;
    border-radius: 5px;
}


body.black .background-switch{
    background-color: white;
}

.background-switch h6 {
   margin-bottom: 0;
     color: red;
     padding: 10%;
}

label .slider{
    background-color: white;
    position: absolute;
    height: 29px;
    width: 54px;
    border-radius: 5px;
   
    margin: 3px;
}



body.black label .slider {
    background-color: black;
}

.count-down h2 {
    text-align: center;
    font-size: 7vh;
}

body.black .count-down h2 {
    color: white;
}

.score-play-container {
    position: relative;
    width: 100%;
     height: auto;
     display: flex;

}

.score-play-row {
    height: 60vh;
    width: 100%;
    
}

.score-container {
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.score-box {
    height: 33vmax;
    width: 27vmax;
    background-color: white;
    color: black;
    
}

body.black .score-box {
    background-color: black;
    color: white;
}
th, td {
    padding: 1vw;
}
.score-header {
    border-bottom: 3px solid red;
    padding: 10% 10% 5%;
    text-align: center;
}



.score-cloumn {
    border-bottom: 3px solid red;
}

.player-one {
    font-size: clamp(12px, 1.5vw, 14px);
    border-bottom: 3px solid red;
    
}

.player-two {
    font-size: clamp(12px, 1.5vw, 14px);
    border-bottom: 3px solid red;
}

.board-game-container {
    align-items: center;
    position: relative;
    display: block;
   justify-content: center;
}

.board-container{
    
    position: absolute;
    border: none;
    display: block;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr, 1fr, 1fr ;
    grid-gap: 10px;
    background-color: black;
   
}

body.black .game-grid{
    background-color: white;
}

.cell{
    height: 10vmax;
    width: 10vmax;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

body.black .cell{
    background-color: black;
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}

body.black 
.cell.x::before{
    background-color: white ;
}

.cell.x::before,
.cell.x::after{
    content: '';
    width: 10%;
    height: 95%;
    background-color: black;
    position: absolute;
    
}

body.black 
.cell.x::after{
    background-color: white ;
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after{
    content: '';
    border-radius: 50%;
    background-color: red;
    position: absolute;
}


.cell.o::before
{
    width: 90%;
    height: 90%;
}

.cell.o::after{
    width: 70%;
    height: 70%;
    background-color: white;
}

body.black .cell.o::after{
    background-color: black;
}

.end-resul {
    display: none;
}

.end-result.show{
    background-color: rgb(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    justify-content: center;
    display: block;
    
}

.game-result {
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
}

.game-result-text {
    padding: 10%;
    font-size: 5vmax;
    color: white;
}

.game-result button {
    margin: 2%;
    border: 0;
    background-color: red;
    color: black;
}


.mute-button,
.sound-button {
    border: none;
    background-color: transparent;
    display: flex ;
    margin: auto;
}

body.black .mute-button,
body.black .sound-button {
    color: white;
}

.mute-button:hover,
.sound-button:hover {
    color: red;
}

body.black .mute-button:hover,
body.black .sound-button:hover {
    color: red;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #ff0000;
    width: 100%;
    height: 30px;
    color: white;
}
    