body{
    letter-spacing: 2px;
    font-family: 'NTR', sans-serif;
}

.navbar{
    background-color: pink;
    width: 100%;
}

.navbar ul{
    margin-left: auto;
}

#navbarNav a{
    float: right;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-brand span{
    color:#ff0000;
}

#navbarNav .nav-link{
    color: white;
}

#navbarNav .nav-link:hover{
    color: #ff0000;
   
    }

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}

.background-switch{
    width: 120px;
    height: 35px;
    float: right;
    letter-spacing: 2px;
}
.board-container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr) ;
    grid-gap: 10px;
    background-color: black;
}

.cell{
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.cell.x,
.cell.o{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
    content: '';
    width: 10%;
    height: 95%;
    background-color: black;
    position: absolute;
    
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after{
    content: '';
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.cell.o::before{
    width: 90%;
    height: 90%;
}

.cell.o::after{
    width: 70%;
    height: 70%;
    background-color: white;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #ff0000;
    width: 100%;
    height: 30px;
    color: white;
}
    