body{
    letter-spacing: 2px;
    font-family: 'NTR', sans-serif;
}
body.black {
    background-color: rgb(0, 0, 0);
}
/*------------------------------NAVBAR---------------------------------*/
.navbar{
    background-color: pink;
    width: 100%;
}

body.black .navbar {
    background-color: white;
}

.navbar ul{
    margin-left: auto;
}

#navbarNav a{
    float: right;
}

.navbar-dark .navbar-brand {
    color: white;
}

body.black .navbar-dark .navbar-brand {
    color: black;
}

body.black .navbar button{
    background-color: black;
}

.navbar-dark .navbar-brand span{
    color:#ff0000;
}

#navbarNav .nav-link{
    color: white;
}
body.black #navbarNav .nav-link{
    color: black;
}

#navbarNav .nav-link:hover{
    color: #ff0000;
   
    }


  
.switch{
    opacity: 0;
    position: absolute;
}

:checked + .background-switch .slider {
    transform: translateX(54px);
}
.background-switch{
    width: 120px;
    height: 35px;
    float: right;
    letter-spacing: 2px;
    background-color: black;
    color: red;
    display: flex;
    border: none;
    margin: 15px;
    align-items: center;
    border-radius: 5px;
}

body.black .background-switch{
    background-color: white;
}

label .slider {
    background-color: white;
    position: absolute;
    height: 29px;
    width: 54px;
    border-radius: 5px;
   
    margin: 3px;
}

body.black label .slider {
    background-color: black;
}

.starting-page-modal  {
    display: flex;
}

.board-container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr) ;
    grid-gap: 10px;
    background-color: black;
}

body.black .game-grid{
    background-color: white;
}

.cell{
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

body.black .cell{
    background-color: black;
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}

body.black 
.cell.x::before{
    background-color: white ;
}

.cell.x::before,
.cell.x::after{
    content: '';
    width: 10%;
    height: 95%;
    background-color: black;
    position: absolute;
    
}

body.black 
.cell.x::after{
    background-color: white ;
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after{
    content: '';
    border-radius: 50%;
    background-color: red;
    position: absolute;
}


.cell.o::before
{
    width: 90%;
    height: 90%;
}

.cell.o::after{
    width: 70%;
    height: 70%;
    background-color: white;
}

body.black .cell.o::after{
    background-color: black;
}




.game-result {
    width: 100%;
    height: 100%;
    background-color: rgba(106, 114, 117, 0.5);
    display: none;
}

.game-result.show {
    display: flex;
}


footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #ff0000;
    width: 100%;
    height: 30px;
    color: white;
}
    